In [1]:
import pandas as pd

In [3]:
#main datatypes
series = pd.Series(["BMW","Toyota","Audi"])

In [4]:
series

0       BMW
1    Toyota
2      Audi
dtype: object

In [5]:
#series = 1-Dimensional

In [6]:
colours=pd.Series(["Red","Blue","Yellow"])
colours

0       Red
1      Blue
2    Yellow
dtype: object

In [8]:
#DataFrame = 2-Dimensional
car_data = pd.DataFrame({"Car Make":series , "Colour": colours})
car_data

  Car Make  Colour
0      BMW     Red
1   Toyota    Blue
2     Audi  Yellow